<center>
    <script>
        var idcomments_acct = 'de3d784947583ed1a70d6f1c521a7a82';
        var idcomments_post_id;
        var idcomments_post_url;
    </script>

    <script>
        var idcomments_acct = 'de3d784947583ed1a70d6f1c521a7a82';
        var idcomments_post_id;
        var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</center>